function Game.new 0
    push constant 1
    call Memory.alloc 1
    pop pointer 0
    call Board.new 0
    pop this 0
    push pointer 0
    return
function Game.GameLoop 5
    push argument 0
    pop pointer 0
    push constant 1
    neg
    pop local 0
label Game_0
    push local 0
    not
    if-goto Game_1
    push this 0
    call Board.Render 1
    pop temp 0
    call Keyboard.keyPressed 0
    pop local 1
label Game_2
    push local 1
    push constant 0
    eq
    not
    not
    if-goto Game_3
    call Keyboard.keyPressed 0
    pop local 1
    goto Game_2
label Game_3
    push local 1
    push constant 130
    eq
    not
    if-goto Game_5
    push this 0
    push constant 1
    neg
    call Board.SetCursorX 2
    pop temp 0
    goto Game_4
label Game_5
label Game_4
    push local 1
    push constant 132
    eq
    not
    if-goto Game_7
    push this 0
    push constant 1
    call Board.SetCursorX 2
    pop temp 0
    goto Game_6
label Game_7
label Game_6
    push local 1
    push constant 129
    eq
    not
    if-goto Game_9
    push this 0
    push constant 1
    neg
    call Board.SetCursorY 2
    pop temp 0
    goto Game_8
label Game_9
label Game_8
    push local 1
    push constant 131
    eq
    not
    if-goto Game_11
    push this 0
    push constant 1
    call Board.SetCursorY 2
    pop temp 0
    goto Game_10
label Game_11
label Game_10
    push local 1
    push constant 32
    eq
    not
    if-goto Game_13
    push this 0
    push this 0
    call Board.GetCursorX 1
    push this 0
    call Board.GetCursorY 1
    call Board.RevealCell 3
    pop temp 0
    goto Game_12
label Game_13
label Game_12
    push local 1
    push constant 102
    eq
    not
    if-goto Game_15
    push this 0
    push this 0
    call Board.GetCursorX 1
    push this 0
    call Board.GetCursorY 1
    call Board.ToggleFlag 3
    pop temp 0
    goto Game_14
label Game_15
label Game_14
    push pointer 0
    call Game.CheckGameStatus 1
    pop local 0
    goto Game_0
label Game_1
    push constant 0
    return
function Game.CheckGameStatus 0
    push argument 0
    pop pointer 0
    push this 0
    call Board.IsWin 1
    not
    if-goto Game_17
    push constant 8
    call String.new 1
    push constant 89
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 87
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push constant 0
    return
    goto Game_16
label Game_17
label Game_16
    push this 0
    call Board.IsLoss 1
    not
    if-goto Game_19
    push constant 10
    call String.new 1
    push constant 71
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push constant 0
    return
    goto Game_18
label Game_19
label Game_18
    push constant 1
    neg
    return